<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Mars Hemispheres</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container"></div>
    <!-- back button -->
    <a class="btn btn-primary" href="http://127.0.0.1:5000/" role="button">Back</a>
      <!-- Section for Hemisphere Pics -->
      <div class="row" id="mars-hemisphere-image">
        <div class="col-md-8">
          <h2>Mars Hemispheres</h2>
      
            <!-- if images is False/None/non-existent, then default to error message -->
            <a target="_blank" href="{{mars.cerberus_enhanced.img_url | default('static/images/error.png', true) }}">
              <img
                src="{{mars.cerberus_enhanced.img_thumb | default('static/images/error.png', true) }}"
                class="rounded mx-auto d-block img-thumbnail"
                alt="Responsive image"
              />{{mars.cerberus_enhanced.title}}
            </a></br>
            <a target="_blank" href="{{mars.schiaparelli_enhanced.img_url | default('static/images/error.png', true) }}">
              <img
                src="{{mars.schiaparelli_enhanced.img_thumb | default('static/images/error.png', true) }}"
                class="rounded mx-auto d-block img-thumbnail"
                alt="Responsive image"
              />{{mars.schiaparelli_enhanced.title}}
            </a></br>
            <a target="_blank" href="{{mars.syrtis_major_enhanced.img_url | default('static/images/error.png', true) }}">
              <img
                src="{{mars.syrtis_major_enhanced.img_thumb | default('static/images/error.png', true) }}"
                class="rounded mx-auto d-block img-thumbnail"
                alt="Responsive image"
              />{{mars.syrtis_major_enhanced.title}}
            </a></br>
            <a target="_blank" href="{{mars.valles_marineris_enhanced.img_url | default('static/images/error.png', true) }}">
              <img
                src="{{mars.valles_marineris_enhanced.img_thumb | default('static/images/error.png', true) }}"
                class="rounded mx-auto d-block img-thumbnail"
                alt="Responsive image"
              />{{mars.valles_marineris_enhanced.title}}
            </a></br>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>